-
    var taskList = [
    {
    title: "Create Contact Formular",
    project: "Worlda",
    progress: "23%",
    subtask: [
    {
    date: "today",
    teamImgName:["mark-p", "marvin-s", "sebastian-k"],
    isOnline:[true, true, false],
    time:"13:40",
    title: "Creating the Context",
    progress: "66%"
    },
    {
    date: "yesterday",
    teamImgName:["marvin-s", "sebastian-k"],
    isOnline:[true, false],
    time:"12:40",
    title: "Implementation in the Layout",
    progress: "ready"
    }
    ]
    },
    {
    title: "Create Subpage PSD",
    project: "Panorama",
    progress: "87%",
    subtask: [
    {
    date: "today",
    teamImgName:["mark-p", "marvin-s", "sebastian-k"],
    isOnline:[true, true, false],
    time:"13:40",
    title: "Creating the Context",
    progress: "66%"
    },
    {
    date: "yesterday",
    teamImgName:["marvin-s", "sebastian-k"],
    isOnline:[true, false],
    time:"12:40",
    title: "Implementation in the Layout",
    progress: "ready"
    }
    ]
    },
    {
    title: "Layout & implementation in HTML & CSS",
    project: "Ebay Relaunch",
    progress: "83%",
    subtask: [
    {
    date: "today",
    teamImgName:["mark-p", "marvin-s", "sebastian-k"],
    isOnline:[1, 1, 0],
    time:"13:40",
    title: "Creating the Context",
    progress: "66%"
    },
    {
    date: "yesterday",
    teamImgName:["marvin-s", "sebastian-k"],
    isOnline:[1, 0],
    time:"12:40",
    title: "Implementation in the Layout",
    progress: "ready"
    }
    ]
    },
    {
    title: "Lorem ipsum dolor sit amet, elitr, sed diam  nonumy eirmod temp",
    project: "Panorama",
    progress: "23%",
    subtask: [
    {
    date: "today",
    teamImgName:["mark-p", "marvin-s", "sebastian-k"],
    isOnline:[true, true, false],
    time:"13:40",
    title: "Creating the Context",
    progress: "66%"
    },
    {
    date: "yesterday",
    teamImgName:["marvin-s", "sebastian-k"],
    isOnline:[true, false],
    time:"12:40",
    title: "Implementation in the Layout",
    progress: "ready"
    }
    ]
    },
    {
    title: "Create Contact Formular",
    project: "Worlda",
    progress: "98%",
    subtask: [
    {
    date: "today",
    teamImgName:["mark-p", "marvin-s", "sebastian-k"],
    isOnline:[true, true, false],
    time:"13:40",
    title: "Creating the Context",
    progress: "66%"
    },
    {
    date: "yesterday",
    teamImgName:["marvin-s", "sebastian-k"],
    isOnline:[true, false],
    time:"12:40",
    title: "Implementation in the Layout",
    progress: "ready"
    }
    ]
    },
    {
    title: "Create Contact Formular",
    project: "Worlda",
    progress: "98%",
    subtask: [
    {
    date: "today",
    teamImgName:["mark-p", "marvin-s", "sebastian-k"],
    isOnline:[true, true, false],
    time:"13:40",
    title: "Creating the Context",
    progress: "66%"
    },
    {
    date: "yesterday",
    teamImgName:["marvin-s", "sebastian-k"],
    isOnline:[true, false],
    time:"12:40",
    title: "Implementation in the Layout",
    progress: "ready"
    }
    ]
    },
    {
    title: "Create Contact Formular",
    project: "Worlda",
    progress: "98%",
    subtask: [
    {
    date: "today",
    teamImgName:["mark-p", "marvin-s", "sebastian-k"],
    isOnline:[true, true, false],
    time:"13:40",
    title: "Creating the Context",
    progress: "66%"
    },
    {
    date: "yesterday",
    teamImgName:["marvin-s", "sebastian-k"],
    isOnline:[true, false],
    time:"12:40",
    title: "Implementation in the Layout",
    progress: "ready"
    }
    ]
    }
    ]



mixin team()
    div.nn-b-avatar.nn-b-avatar_subtask
        img(src="img/avatar/" + name + ".jpg")
        if(isOnline == true)
            div.nn-marker.nn-marker_online
        else
            div.nn-marker

mixin task-card(task)
    div.accordionContainer
        ul
            li.nn-task
                div.nn-task__title
                    div.nn-b-col-between
                        div.nn-b-col-between__item=task.title
                        div.nn-b-col-between__item
                            div.nn-b-info=task.project
                            div.wr_task-cons
                                div.nn-b-icon.nn-b-icon_subtask
                                    svg(class="icon icon_subtask icon-search")
                                        use(xlink:href="img/symbol-defs.svg#icon-search")
                                div.nn-b-icon.nn-b-icon_subtask
                                    span.icon_toggle &#8250
                div.nn-task__content
                    div.nn-subtask
                        for subtask, i in task.subtask
                            div.nn-subtask__item
                                div.nn-b-col-between
                                    div.nn-b-col-between__item
                                        div.wr_subtask
                                            if task.subtask[i].progress === "ready"
                                                div.wr_subtask__item
                                                    div.progress.progress_ready=task.subtask[i].progress
                                                div.wr_subtask__item
                                                    div.title.title_subtask.title_ready=task.subtask[i].title
                                            else
                                                div.wr_subtask__item
                                                    div.progress=task.subtask[i].progress
                                                div.wr_subtask__item
                                                    div.title.title_subtask=task.subtask[i].title

                                    div.nn-b-col-between__item
                                        div.wr_subtask
                                            div.wr_subtask__item.wr_subtask__item_right
                                                div.team
                                                    for name, j in task.subtask[i].teamImgName
                                                        div.team__item
                                                            div.nn-b-avatar.nn-b-avatar_team
                                                                img(src="img/avatar/" + task.subtask[i].teamImgName[j] + ".jpg")
                                                                if(task.subtask[i].isOnline[j] == 1)
                                                                    div.nn-marker.nn-marker_online
                                                                else
                                                                    div.nn-marker
                                                div.nn-b-icon.nn-b-icon_online
                                                    span +3
                                            div.wr_subtask__item.wr_subtask__item_right
                                                div.nn-b-info
                                                    div.nn-b-info__item
                                                        div.nn-b-icon.nn-b-icon_info
                                                            svg(class="icon icon_subtask icon-spinner11")
                                                                use(xlink:href="img/symbol-defs.svg#icon-spinner11")
                                                    div.nn-b-info__item
                                                        div.title_info=task.subtask[i].date + ", "
                                                        span.title_time=task.subtask[i].time + " "
                                                        span PM
                                                div.nn-b-icon.nn-b-icon_subtask
                                                    svg(class="icon icon_subtask icon-search")
                                                        use(xlink:href="img/symbol-defs.svg#icon-search")

div.nn-projects
    div.nn-projects__item
        div.nn-b-search
            div.nn-b-search__item
                input.input.input_search(type="text", placeholder="Search Project, User, Task, etc...")
            div.nn-b-search__item
                div.nn-card.nn-card_search
                    div.nn-card__item.nn-card__item_search
                        div.nn-b-icon.nn-b-icon_search
                            span +
                    div.nn-card__item
                        select
                            option(data-display="New Projects")
                            option Project 1
                            option Project 2
                            option Project 3
                            option Project 4
                            option Project 5

    div.nn-projects__item
        for task in taskList
            +task-card(task)
